
table { 
  border-collapse: collapse; 
}
tr { 
  border-bottom: solid 1px black; 
}

table, th, td {
  border: 1px solid;
}

#editor {
  width: 100%;
  height: 95vh;
}

#sub-heading {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #028A0F;
  color: white;
  border: 1px solid;
  font-size: 2em;
}

body {
  background-color:#AFE1AF;
}

textarea {
  background-color: #D1FFBD;
}

#preview-heading {
  background-color: #D1FFBD;
  border: 1px solid;
}

#preview {
  padding: 0 20px;
}

#editor {
  padding-left: 10px;
}

img {
  max-width: 100%;
  height: auto;
  padding:10px;
}

pre {
  background-color: white;
}

blockquote {
  border-left: 4px solid black;
  margin: 1.5em 10px;
  padding: 0 10px;
}



